body {
  background-image: url("../../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.search-container {
  height: 40px;
  margin: 30px auto;
  width: 600px;
}

#searchInput {
  font-size: 20px;
  height: 60px;
  border: 1px solid blue;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.table-container {
  width: 80%;
  max-height: 520px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Thêm thanh cuộn */
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.box {
  font-size: 30px;
  display: inline-block;
  padding: 20px 40px;
  margin: 15px;
  border-radius: 5px;
  background-color: lightblue;
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.box:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.box:nth-child(10n + 1) {
  background-color: #ffb3a7;
} /* Đỏ cam nhạt */
.box:nth-child(10n + 2) {
  background-color: #b3ffb3;
} /* Xanh lá nhạt */
.box:nth-child(10n + 3) {
  background-color: #b3c7ff;
} /* Xanh dương nhạt */
.box:nth-child(10n + 4) {
  background-color: #ffb3da;
} /* Hồng nhạt */
.box:nth-child(10n + 5) {
  background-color: #fff5b3;
} /* Vàng nhạt */
.box:nth-child(10n + 6) {
  background-color: #dab3ff;
} /* Tím nhạt */
.box:nth-child(10n + 7) {
  background-color: #b3ffff;
} /* Xanh ngọc nhạt */
.box:nth-child(10n + 8) {
  background-color: #ffd1b3;
} /* Cam nhạt */
.box:nth-child(10n + 9) {
  background-color: #e6b3c7;
} /* Hồng đậm nhạt */
.box:nth-child(10n + 10) {
  background-color: #b3e6db;
} /* Xanh lam nhạt */
.total-box {
  width: 200px;
  font-size: 22px;
  padding: 14px 15px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.modal-title-container {
  min-width: 200px; /* Cố định chiều rộng */
  padding: 10px;
  border-radius: 8px;
  color: black;
  text-align: center;
  font-weight: bold;
}

/* Danh sách tàu */
.ship-list-container {
  max-height: 300px; /* Giới hạn chiều cao */
  overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung quá dài */
  padding: 10px;
  border-radius: 8px;
  background: #f8f9fa;
}

.ship-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ship-box {
  font-size: 23px;
  padding: 20px 35px;
  border-radius: 8px;
  background-color: #9ec7f3;
  color: black;
  font-weight: bold;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.ship-box:hover {
  transform: scale(1.05);
}

h5#modalTitle {
  font-size: 23px;
  font-weight: bold;
}

#searchShip {
  font-size: 20px;
  height: 40px;
  border: 1px solid blue;
}

.modal-body {
  max-height: 80vh; /* Giới hạn chiều cao tối đa là 70% chiều cao của viewport */
  overflow-y: auto; /* Bật thanh cuộn */
}
